/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    border: none;
}
/* Font */
/* @font-face {
    font-family: My Font;
    src: url(fonts/UTM\ DuepuntozeroBold.ttf);
}
*{
    font-family: My Font;
} */
body{
    background-image: url(img/default-bg.jpg);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Thanh header */
/* CSS thẻ header */
header{
    width: 100vw;
    background: linear-gradient(180deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 100%);
}
.header{
    position: relative;
    margin: auto;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
.header div.logo{
    max-width: 350px;
    height: 100%;
}
.header img
{
    display: block;
    width: 100%;
    margin-top: 15px;
}
/* Menu trong header */
.header li, .header a{
    list-style-type: none;
    text-decoration: none;
}


/* Menu top */
.nav-top-menu{
    float: right;
}
.nav-top-menu li{
    border-right: 2px solid white;
    margin-right: 7px;
    padding-right: 5px;
}
.nav-top-menu li:last-child, 
.nav-top-menu li:nth-last-child(2){
    border-right: none;
    margin-right: 0;
}
.nav-top-menu a{
    text-align: center; 
    display: block;
    font-weight: 700;
    color: black;
    padding: 15px 5px;
}
.nav-top-menu li:hover a{
    color:#064ee7;
}
.nav-top-menu i{
    color: #ffff;
    border-radius: 50%;
    background-color: #4E4FEB;
    padding: 10px;
}
.nav-top-menu i:last-child{
    margin-left: 0;
}

/* Main */
.heading{
    width: 100vw;
    display: inline;
}
.heading > h1{
    text-transform: uppercase;
    text-align: center;
}
/* Form đăng ký */

/* .description p{
    text-align: center;
}
.info{
    margin-left: 50px;
    height: 80vh;
    width: 80vw;
}
.info .required{
    text-transform:inherit;
    color: red;
}
.selection{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 5px;
}
.selection select{
    font-size: large;
} */