/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    border: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Thanh header */
/* CSS tháº» header */
header{
    width: 100vw;
    background: linear-gradient(180deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 100%);
}
.header{
    position: relative;
    margin: auto;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
.header div.logo{
    max-width: 350px;
    /* height: 100%; */
}
.header img
{
    display: block;
    width: 100%;
    margin-top: 15px;
}
/* Menu trong header */
.header li, .header a{
    list-style-type: none;
    text-decoration: none;
}
/* Menu top */
.nav-top-menu{
    float: right;
}
.nav-top-menu li{
    border-right: 2px solid white;
    margin-right: 7px;
    padding-right: 5px;
}
.nav-top-menu li:last-child, 
.nav-top-menu li:nth-last-child(2){
    border-right: none;
    margin-right: 0;
}
.nav-top-menu a{
    padding: 15px 5px;
    display: block;
    color: black;
    text-align: center;
}
.nav-top-menu li:hover a{
    color:#064ee7;
}
.nav-top-menu i{
    color: #ffff;
    border-radius: 50%;
    background-color: #4E4FEB;
    padding: 10px;
}
.nav-top-menu i:last-child{
    margin-left: 0;
}
/* Menu bottom*/
.nav-bottom-menu{
    position: relative;
    margin-top: 33px;
}
.nav-bottom-menu li{
    display: inline;
}
.nav-bottom-menu ul{
    position: absolute;
    bottom: 0;
    right: 0;
}
.nav-bottom-menu a{
    color: #000000;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.nav-bottom-menu li:hover a{
    background-color: #46c0fd;
    color: #ffff;
    border-radius: 15px;
}
